:root {
    --bg_color-1: #53b5ea;
    --bg_color-2: #0d74b9;
    --bg_color-3: #81c248;
    --bg_color-4: #22831c;
    --bg_color-5: #fb9a99;
    --bg_color-6: #e31a1c;
    --bg_color-7: #fdbf6f;
    --bg_color-8: #ff7f00;
    --bg_color-9: #cab2d6;
    --bg_color-10: #6a3d9a;
    --bg_color-11: #c0c043;
    --bg_color-12: #b15928;
}